.stat-calculator-head {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 20px;
}

.pokemon-selection {
  display: flex;
}

.pkmn-img-container {
  background-color: rgba(46, 46, 46, 0.1);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}

.no-pkmn-select {
  opacity: 0.5;
  width: 75px;
  height: 75px;
}

.pkmn-img:not(.no-pkmn-select) {
  width: 120%;
  height: auto;
}

.error-msg {
  font-weight: bold;
  margin-top: 10px;
  color: #e84118;
}
