.header-bar {
  align-items: center;
  background-color: #FFFFFF;
  box-shadow: 0 2px 10px 0 #888888;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  max-height: 10%;
  min-height: 8%;
  width: 100%;
}

.title-section {
  align-items: flex-end;
  display: flex;
  margin: 10px;
}

.title {
  font-size: 150%;
  font-weight: bolder;
  margin: 0 5px;
}

.subtitle {
  font-size: 75%;
  font-weight: 300;
  margin: 0 5px;
}
